<div class="row g-2 mb-3">
  <div class="col-auto">
    <input type="text" 
      class="form-control mr-2" 
      placeholder="Buscar" 
      [(ngModel)]="filtroLista" >
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-success">buscar</button>
  </div>
</div>
<p>Filtro: {{filtroLista}}</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length > 0">
    <tr *ngFor="let evento of eventos">
      <td>
        <img 
          *ngIf="mostrarImagem"
          src="http://localhost:5000/img/{{evento.imagemURL}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
          class="rounded-circle border border-2">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvent}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" class="text-center" *ngIf="!eventos">
        <h6>Nenhum evento encontrado!</h6>
      </td>
    </tr>
  </tfoot>
</table> 